<div class="container">
  <div class="row">
    <!--<div class="justify-content-center">-->
    <!--  <div class="rounded-circle">-->
    <!--    <img class="rounded img-fluid" src="<%= (@user, { size: 300 }) %>" alt=""> 　　<!--アイコンURL変更-->-->
    <!--  </div>-->
      <p>
        <%= @user.name %>
      </p>
    </div>
    
    <!--<div class="justify-content-end">-->
    <!--  <%= link_to 'フォロー', %> <%= link_to 'お気に入り', %>      <!-- フォロー、お気に入りボタン実装-->-->
    <!--</div>-->
    
    <hr>
    
    <div class="rounded border border-dark">練習時間</div>
    
        <div class="col-md-5">col-md-5</div>                                      <!--練習時間登録-->
        <div class="offset-md-2 col-md-5">offset-md-2 col-md-5</div>
      
    <button class="btn btn-primary" type="submit">投稿する</button>
    
    <div class="rounded border border-dark">最新の投稿</div>

<!--最新の投稿の表示-->
  </div>
</div>