<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
<% else %>
  <div class="text-center">
    <h1>Progress in Piano</h1>
    <div class="lead">
      <p>ピアノをもっと上手に弾きたいあなたへ。</p>
      <p>Progress in Pianoは、あなたのピアノの</p>
      <p>上達をサポートします。</p>
    </div>
    <div class="user-register">
      <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
    <div class="user-login">
      <p><%= link_to 'ログイン', login_path %></p>
    </div>
  </div>
<% end %>

