.erize_name{
    font-size: 19px;
    line-height: 30px; 
}

.erize_image{
    margin-bottom: 20px;
}

.koinu_name{
    font-size: 19px;
    line-height: 30px; 
}

.koinu_image{
    margin-bottom: 20px;
}

.moon_name{
    font-size: 19px;
    line-height: 30px; 
}

.moon_image{
    margin-bottom: 20px;
}

.genso_name{
    font-size: 19px;
    line-height: 30px; 
}

.genso_image{
    margin-bottom: 20px;
}
