.music-title{
    margin-bottom:40px;
}

.B-title{
    margin-top:20px;
    margin-bottom:10px;
}

.C-title{
    margin-top:20px;
    margin-bottom:10px;
}

.D-title{
    margin-top:20px;
    margin-bottom:10px;
}