.lead {
    margin-top: 60px;
}

.lead p {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.user-register {
    margin-top: 60px;
}

.user-login {
    margin-top: 20px;
}

.user_name2{
    font-size: 40px;
}

.like2 li{
    display: inline;
    margin-right: 20px;
}

.title_name{
    margin-bottom: 60px;
}