<div class="text-center">
  <h1>エリーゼのために</h1>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <figure>
        <div class="d-flex justify-content-center erize_image">
          <img src="https://images-na.ssl-images-amazon.com/images/I/41WVPnYvbLL._SX361_BO1,204,203,200_.jpg" alt="エリーゼのために" width="220" height="400">
        </div>
        <figcaption class="text-center"><a href="https://www.amazon.co.jp/%E3%83%94%E3%82%A2%E3%83%8E%E3%83%94%E3%83%BC%E3%82%B9%E3%83%BC002-%E3%82%A8%E3%83%AA%E3%83%BC%E3%82%BC%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AB-%E3%83%99%E3%83%BC%E3%83%88%E3%83%BC%E3%83%99%E3%83%B3-MUSIC-PIANO/dp/4119110028/ref=sr_1_4?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&dchild=1&keywords=%E3%82%A8%E3%83%AA%E3%83%BC%E3%82%BC%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AB+%E6%A5%BD%E8%AD%9C&qid=1611392942&sr=8-4" target="_blank">Amazonで購入</a></figcaption>
      </figure>
    </div>
    <div class="offset-md-1 col-md-8 erize_name">
      1810年に作曲され、1867年にシュトゥットガルトのL. ノールが出版した『ベートーヴェン新書簡集』の中で出版されました。
      ベートーヴェンの周囲にエリーゼという名の女性がいないために、これまで様々な説が挙げられています。<br>
      ベートーヴェンが心を寄せていたテレーゼ・マルファッティのために作曲された（「エリーゼ」は「テレーゼ」を読み間違えた）とする説がとりわけ有名ですが、エリーザベト・レンケル（後にフンメルと結婚）とする説もあり、その真相は現在も不明です。<br>
      難易度はソナチネ入門レベルであり、ピアノを習う人の多くが弾きたいと思う曲の1つです。中盤から後半にかけてはやや難しいと感じるかもしれません。右手のメロディーを滑らかに弾きたいところです。<br>
      全体的にゆるやかだったり、激しかったりする部分がありますが、繊細に弾くことをこころがけましょう。まずは一通り弾くことを目標にして練習をしてみてはいかがでしょうか。
    </div>
  </div>
</div>