<div class="text-center">
  <h1>幻想即興曲</h1>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <figure>
        <div class="d-flex justify-content-center genso_image">
          <img src="https://images-na.ssl-images-amazon.com/images/I/51Ykd4tBJQL._SX351_BO1,204,203,200_.jpg" alt="幻想即興曲" width="220px" height="400px">
        </div>
        <figcaption class="text-center"><a href="https://www.amazon.co.jp/%E3%83%94%E3%82%A2%E3%83%8E%E3%83%94%E3%83%BC%E3%82%B9%E3%83%BC074-%E5%B9%BB%E6%83%B3%E5%8D%B3%E8%88%88%E6%9B%B2-%E3%82%B7%E3%83%A7%E3%83%91%E3%83%B3-%E5%85%A8%E9%9F%B3%E3%83%94%E3%82%A2%E3%83%8E%E3%83%94%E3%83%BC%E3%82%B9-%E3%83%95%E3%83%AC%E3%83%87%E3%83%AA%E3%83%83%E3%82%AF%E3%83%BB%E3%82%B7%E3%83%A7%E3%83%91%E3%83%B3/dp/4119110745/ref=sr_1_1?dchild=1&keywords=%E5%B9%BB%E6%83%B3%E5%8D%B3%E8%88%88%E6%9B%B2+%E6%A5%BD%E8%AD%9C&qid=1611392931&sr=8-1" target="_blank">Amazonで購入</a></figcaption>
      </figure>
    </div>
    <div class="offset-md-1 col-md-8 genso_name">
      印象的な出だしから一気に駆け抜ける疾走感。静寂に響く懐かしくも美しいメロディー。そして再び追いたてられるように、突如走り出すスリル。予測不能な息もつかせぬ展開が、ドラマティックに繰り広げられる魅力的な曲です。<br>
      ショパンが24歳の頃作曲した「幻想即興曲」は実は出版されませんでした。その理由は、他の曲に似ていた、ショパン自身は失敗作だと思っていたからなど、いろいろな説があり、ハッキリしていません。彼の死後、陰で支え続けた友フォンタナが、残された楽譜を遺族の同意のもと、公式な遺作集として出版したのです。<br>
      難易度は上級といえるでしょう。両手で繊細かつスピーディーに弾くことが求められ、多くの技術が必要になります。まずはツェルニー40番を弾きこなせるレベルになってください。その上で幻想即興曲に挑んでみてください。強弱や音の抑揚を意識するとダイナミックな演奏となることでしょう。ぜひ挑戦してみてください。
    </div>
  </div>
</div>