<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Music</title>
  </head>
  <body>
    <div class="text-center music-title">
      <h1>おすすめ曲</h1>
    </div>
        
    <h3>Aランク(練習時間目安 0~1000時間)</h3>
      <%= link_to "エリーゼのために", erize_musics_path %>
      
    <div class="B-title">
      <h3>Bランク(練習時間目安 1000~1500時間)</h3>
      <%= link_to "子犬のワルツ", koinu_musics_path %>
    </div>
    
    <div class="C-title">
      <h3>Cランク(練習時間目安 1500~2200時間)</h3>
      <%= link_to "月の光", moon_musics_path %>
    </div>
    
    <div class="D-title">
      <h3>Dランク(練習時間目安 2200時間~)</h3>
      <%= link_to "幻想即興曲", genso_musics_path %>
    </div>
  </body>
</html>
        