<div class="text-center">
  <h1>子犬のワルツ</h1>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <figure>
        <div class="d-flex justify-content-center koinu_image">
          <img src="https://images-na.ssl-images-amazon.com/images/I/41SAQKXZqqL._SX361_BO1,204,203,200_.jpg" alt="子犬のワルツ" width="220px" height="400px">
        </div>
        <figcaption class="text-center"><a href="https://www.amazon.co.jp/%E3%83%94%E3%82%A2%E3%83%8E%E3%83%94%E3%83%BC%E3%82%B9%E3%83%BC035-%E5%B0%8F%E7%8A%AC%E3%81%AE%E3%83%AF%E3%83%AB%E3%83%84-%E3%82%B7%E3%83%A7%E3%83%91%E3%83%B3-MUSIC-PIANO/dp/4119110354/ref=sr_1_3?dchild=1&keywords=%E5%AD%90%E7%8A%AC%E3%81%AE%E3%83%AF%E3%83%AB%E3%83%84+%E6%A5%BD%E8%AD%9C&qid=1611391576&sr=8-3" target="_blank">Amazonで購入</a></figcaption>
      </figure>
    </div>
    <div class="offset-md-1 col-md-8 koinu_name">
      ショパンにより1846年から1848年にかけて作曲されました。ショパンには、長年連れ添った恋人ジョルジュ・サンドがいました。<br>
      彼女は子犬を飼っており、その子犬には"尻尾を追ってぐるぐる回る"習性がありました。サンドがその様子を音楽にするようショパンに頼み、即興的に作曲したのが『小犬のワルツ』だと言われています。<br>
      この曲は繰り返しの多い構成になっており、英語では「1分間のワルツ（Minute Waltz）」と呼ばれているほど軽快で短い曲です。子犬のワルツを弾く前にツェルニー30番程度を難なく弾きこなせるレベルになっておいてください。そうすることで滑らかな手の動きで美しく弾くことができるでしょう。<br>
      最初は非常に速い右手のメロディーに戸惑ってしまうかもしれませんが、意外と難易度は高くありません。まずはゆっくりと弾き、徐々にスピードを上げていくことをおすすめします。
    </div>
  </div>
</div>
  
      
    
