<div class="text-center">
  <h1>月の光</h1>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <figure>
        <div class="d-flex justify-content-center moon_image">
          <img src="https://images-na.ssl-images-amazon.com/images/I/41bysDLtUjL._SX361_BO1,204,203,200_.jpg" alt="月の光" width="220px" height="400px">
        </div>
        <figcaption class="text-center"><a href="https://www.amazon.co.jp/%E3%83%94%E3%82%A2%E3%83%8E%E3%83%94%E3%83%BC%E3%82%B9%E3%83%BC196-%E6%9C%88%E3%81%AE%E5%85%89-%E3%83%89%E3%83%93%E3%83%A5%E3%83%83%E3%82%B7%E3%83%BC-MUSIC-PIANO/dp/4119111962/ref=sr_1_1?dchild=1&keywords=%E6%9C%88%E3%81%AE%E5%85%89+%E6%A5%BD%E8%AD%9C&qid=1611391899&sr=8-1" target="_blank">Amazonで購入</a></figcaption>
      </figure>
    </div>
    <div class="offset-md-1 col-md-8 moon_name">
      ドビュッシーの作品の中で最も有名な曲の１つです。この作品では息の長いメロディーが多用されていますが、後年の作品になるに従って、「光」や「色彩」といったものを表現するために、メロディーは断片的になり、「響き」の要素が増してきます。実際の月の光の様子をイメージしたのではなく、詩人・ヴェルレーヌの詩集「艶なる宴」中の詩『月の光』をきっかけに作曲したといわれています。<br>
      難易度は中~上級で、表現の仕方やペダルの踏み方が安易ではありません。音が少ない所ほど、この曲らしい繊細な音色が要求されます。<br>
      全体的に強弱だったり、テンポを揺らして演奏すると表情豊かな演奏になると思います。ぜひ様々な演奏の仕方をためしてみてください。
    </div>
  </div>
</div>
  